extends layout
//This brings in the contents of the layout.jade file
block content
 .jumbotron
      .container
        h1 #{title='About Us'}
        img.IT(src="/stylesheets/images/team.jpeg")
        p
          | For over 20 years, Digitron Computers (formerly TechOps) has operated a retail store and offered computer repair and IT services serving residents and businesses in West Seattle and the greater Seattle region.
        p
    .container