extends layout
//This brings in the contents of the layout.jade file
block content
 .jumbotron
      .container
        h1 #{title='Repair Service'}
        p
          | Digitron Computers offers a full range of hardware repair, data recovery, malware removal, software installation and configuration, help desk, and IT services for both personal and business clients. We work with all types of Apple™ and Windows™ laptops and desktops.
        p
    .container
      .row
        .col-md-15
          h3 Small Business / Medium Business
          p
            | Slow response, popups, files that don’t download properly, and error messages are all signs of computer problems. Digitron Computers performs repair and maintenance that fix the issues affecting your computer. Installing an operating system, upgrading the hard drive to a solid state disk (SSD), transferring data to another machine, configuring drivers, and setting up your email are just a few of the software-related services we provide.
          p
        .col-md-15
          h3 Comprehensive Hardware Repairs
          p
            | Our shop fixes all types of laptop and desktop hardware issues from a finicky power jack to a broken screen, liquid spill, failing hard drive, or any other type of hardware problem.
          p
        .col-md-15
          h3 Fast Service
          p
            | We save you time and money by having skilled technicians able to perform all work, including electronics and component-level repairs, at our West Seattle facility. Your computer and precious data remain local!
          p
        .col-md-15
          h3 Repair Services
          ul
            li Laptop, Desktop Maintenance and Repair
          ul
            li Data Backup and Recovery
          ul
            li System Tuning and Optimization
          ul
            li Laptop Screen Replacement
          ul
            li Fix Faulty WiFi
          ul
            li DC Jack, USB Port and Headphone Jack Repair
          ul
            li Virus and Malware Removal
          ul
            li Software Installation
          ul
            li Internal Cleaning
          ul
            li Repair Laptop Hinges and Cabinet
          ul
            li Remove Unnecessary OEM Apps
          ul
            li Replace Batteries
          ul
            li Install Operating System