extends layout
//This brings in the contents of the layout.jade file
block content
 .jumbotron
      .container
        h1 #{title='IT Service'}
        p
          | Digitron Computers offers IT support for businesses and individuals including managed IT services, on-demand IT services, 24×7 monitoring, Office 365/Exchange, backup, patch management, network setup, VPN firewall, and server maintenance.
        p
    .container
      .row
        .col-md-15
          h3 Small Business / Medium Business
          p
            | No budget for a full-time IT person? Digitron Computers offers customized IT support just for you. We recognize that your business is unique and therefore we offer flexible solutions tailored specifically to your business needs. Our managed IT services are designed to keep your technology working reliably and securely at a consistent and affordable cost. You may also contact us any time for support-on-demand. Call to schedule a free consultation and discuss the plan that best fits your business.
          p
        .col-md-15
          h3 Small Business / Medium Business
          p
            | Save time on computer maintenance with on-site IT or remote support. We make it easy for you to receive the help you need in a timely manner. Our techs come to your office physically or virtually, evaluate the issue and get you back up and running quickly and conveniently. There are never any hidden fees and we’ll keep you informed of options and recommendations so that you’re always in the driver’s seat.
          p
        .col-md-15
          h3 SOHO
          p
            | Create a secure network suitable both for home office and your family’s computer and technology needs with help from our technicians. Services include computer and printer setup, router and modem configuration, connecting computers, phones, tablets, and TVs to your network, Sonos installation, and more. Call us for to find out more about affordable IT support for your home office.
          p