<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
<title><%= name %></title>
</head>
<body>
    <h1>You've select <%= name %></h1>
    <% for(let type of types ) { %>
        <h3> <%= type.title %> </h3>
        <img src="<%= type.img %>" alt="">
    <% } %>
</body>
</html>