extends layout
//This brings in the contents of the layout.jade file
block content
 .jumbotron
      .container
        h1 #{title='Sale'}
        img.IT(src="/stylesheets/images/appleProducts.jpg")
        p
          | Laptop and desktop computers, networking and wifi, wireless mice and keyboards–we stock a wide range of computers, peripherals and accessories.
        p
    .container
      .row
        .col-md-15
          h3 Repair Services 
          p
            | We offers a full range of hardware repair, data recovery, malware removal, software installation and configuration, help desk, and IT services for both personal and business clients. We work with all types of Apple™ and Windows™ laptops and desktops.
          p
        .col-md-15
          h3 Quality and Value 
          p
            | One computer isn’t enough for many people’s needs today. Digitron Computers expands your personal and business computing options with sales of top-quality new and refurbished computers. Choose from desktops, laptops and servers. If you would like help with delivery or set up, just say the word and we’ll set an appointment for one of our technicians to come to your home or office. While we’re setting up your computer, we’ll happily help with all your networked devices, such as printers, tablets, phones, and Sonos audio systems.
          p
        .col-md-15
          h3 Computers and Peripherals 
          p
            | Whether it’s a laptop for the road, a workstation for the office, or a server for your business, we’ll help you make the right choice when purchasing a new computer. Our friendly staff will assist you in choosing the system that best fits your requirements and your budget. In addition to all the major computer makers, such as Lenovo™, Acer™, Toshiba™, Asus™, Dell™, and HP™, we also carry a wide assortment of networking equipment by TP-Link, Motorola and others, as well as peripherals and accessories such as external hard drives, flash drives, wired and wireless keyboards/mice, monitors, cables, and adapters.
          p
        .col-md-15
          h3 Refurbished Systems
          p
            | Save on a computer by investing in a refurbished model from Digitron Computers. Our refurbished computers are often upgraded from original and better than new, as well as extremely reliable, and most come with a 90-day warranty. Inventory changes regularly so stop by or call today about purchasing a computer that meets your personal or business computing needs.
          p
        .col-md-15
          h3 Customer-Driven Service
          p
            | Our goal is to have you up and running in the shortest time possible with the utmost satisfaction. We happily help you any way we can, and offer low-cost laptop rentals in case you need a computer temporarily.
          p