<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/services.css">
<%- include('partials/head') %> 
<body>
    <!-- Nav Bar Start -->
    <%- include('partials/navbar') %> 
    <!-- Nav Bar End -->
    <div class="us">
        <h2>Celebrate Fresh</h2>
        <p class="about">Fresh, handcrafted bread and treats. Quality, carefully sourced ingredients. Friends and family. Passion and curiosity. We’re up at the crack of dawn so our bakeries smell like Mom’s kitchen. After each day of sharing our love for all things fluffy and flaky, we pay it forward by donating leftover baked goods to local charities.</p>
        <h2>Our Tradition</h2>
        <p class="about">The Slice Bread is part of Bakers Delight, an Australian bakery franchise established in 1980 by Roger and Lesley Gillespie. Since expanding from a multi-generational family business, we’ve grown to over 700 bakeries in communities around the world, including 2 bakeries in the USA and over 125 bakeries across Canada.</p>
        <h2>Our Vision</h2>
        <p class="about">Our Vision is to be the favorite bakery in every community, and it is our mission to develop strong connections with our customers and communities that ignite a passion for bread and the freshest baked treats.</p>
    </div>
</body>